.item {
  width: 100%;
  display: -webkit-flex;
  padding: 10px;
  font-size: 0.12rem; }
  .item dt {
    width: 60px;
    height: 60px;
    margin-right: 10px; }
    .item dt img {
      width: 100%;
      height: 100%;
      border: 1px solid #ccc; }
  .item dd {
    flex: 1; }
    .item dd p {
      display: -webkit-flex;
      -webkit-justify-content: space-between;
      line-height: 22px; }
      .item dd p:first-child b {
        width: 160px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      .item dd p:first-child em {
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 1px solid #eee;
        font-style: normal;
        line-height: 20px;
        text-align: center;
        color: #CBCBCB;
        margin-left: 3px; }
      .item dd p:nth-child(2) span:first-child {
        width: 140px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
        .item dd p:nth-child(2) span:first-child img {
          width: 30px;
          height: 8px; }
        .item dd p:nth-child(2) span:first-child em {
          color: #FFAA0C;
          margin: 0 5px; }
        .item dd p:nth-child(2) span:first-child i {
          font-style: normal;
          color: #9E9E9E; }
      .item dd p:nth-child(2) span:last-child em {
        font-size: 0.12rem;
        padding: 2px;
        font-style: normal; }
      .item dd p:last-child span:first-child {
        width: 140px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
        .item dd p:last-child span:first-child em {
          font-style: normal;
          color: #AFAFAF; }
